<p-panel >
    <p-header>
        Параметры поиска
    </p-header>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-card"></i></span>
                <input type="text" pInputText placeholder="Фамилия">         
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-card"></i></span>
                <input type="text" pInputText placeholder="Имя">    
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-card"></i></span>
                <input type="text" pInputText placeholder="Отчество">      
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-card"></i></span>
                <!--p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar-->       
                <p-calendar [showIcon]="true"></p-calendar>
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-address-card"></i></span>
                <input type="text" pInputText placeholder="Место рождения">      
            </div>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <p-button icon="pi pi-check" label="Find"></p-button>
        </div>
    </div>
</p-panel>