<h3 class="first">Результаты поиска</h3>
<p-table [value]="debtors">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Должник</th>
            <th style="width:15%">ИНН</th>
            <th style="width:15%">Регион</th>
            <th>Адрес</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-debtors>
        <tr>
            <td>
                <a [routerLink]="['/debtor', debtors.id]" routerLinkActive="active">
                    {{debtors.surname}} {{debtors.name}} {{debtors.middleName}}
                </a>
            </td>
            <td>{{debtors.taxpayerNumber}}</td>
            <td>{{debtors.region}}</td>
            <td>{{debtors.address}}</td>
        </tr>
    </ng-template>
</p-table>